.movie-card {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;

    &__container {
        min-width: 180px;
        height: 250px;

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        padding-top: 15px;
        padding-left: 30px;
        position: relative;

        &__title {
            font-family: 'Poppins', sans-serif;
            text-align: left;
            font-size: 26px;
            font-weight: bold;
        }

        &__genres {
            padding: 10px 0;
            text-align: left;
        }

        &__description {
            text-align: left;
        }

        &__site {
            display: block;
            text-align: start;
            margin: 10px 0px;
        }

        &__button {
            position: absolute;
            bottom: 0;
            left:30px;
            padding: 10px 15px;
            background-color: transparent;
            border-radius: 8px;
            border: 2px solid #B85450;
            color: #CD063E;
        }
    }
}
