.review-section {
    width: 80%;
    margin: 0 auto;
    position: relative;

    &__title {
        margin: 40px 0;
        margin-bottom: 25px;
        text-align: left;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }

    &__comment {
        position: absolute;
        left: 0;
        margin-top: 25px;
    }
}
