.search-container {
    &__title {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        margin: 30px 0;
        margin-bottom: 10px;
    }

    &__search-bar {
        display: inline-block;
        position: relative;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 50%);
        margin-bottom: 20px;
    }

    &__empty {
        margin-top: 30px;
        text-align: center;
    }
}

.relative-div {
    position: relative;
}

.link-div {
    text-decoration: none;
    display: block;
    z-index: 2;
    color: #000;
    position: absolute;
    min-height: 50%;
    min-width: 80%;
    margin: 0 auto;
    top: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
